/* Scrollable area for table/list */
.pending-list-wrapper {
  display: flex;
  flex-direction: column;
  height: 72vh;
  position: relative;
}

.pending-list-scroll {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 0; /* space for fixed footer */
}

/* Fixed footer for pagination */
.pagination-fixed {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  /* border-top: 1px solid #e0e0e0; */
  /* padding: 10px 20px; */
  z-index: 10;
  /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05); */
}
.fade-row {
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.fade-row.fade-out {
  opacity: 0;
  transform: translateY(-10px);
}
